@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Oregano&display=swap');
*{
    color: #ffffff;
    box-sizing: border-box;
    font-family: 'Oregano', cursive;
}
html{
    background: url(../Assets/tommy-lisbin-2DH-qMX6M4E-unsplash.jpg) no-repeat center bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #a5dc0f;
}
body{
    color: #ffffff;
    
    
}
.overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
}
.nav{
    background-color: unset;
  
}
.menu>a{
    padding: 20px 50px;
    color: #ffffff;
    font-weight: 600; 
}
.menu>a:hover{
    background-color: #a5dc0f;
    color: #000000;  
}
.is-active > .navbar-item, .navbar-link {
    color: #000000;
}
@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: #0000009f;
    }

    .navbar-item, .navbar-link{
        color: #fafafa;
        font-weight: 600;
    }
}

@media screen and (min-width: 1024px){
    .navbar-item, .navbar-link {
        color: #ffffff;
    }
}

.home-card{
    max-width: 500px;
    margin: 100px 60px 0 20px;
    background-color: unset;
    padding: 30px 20px;
    float: right;
    
}
.home-card>.title{
    font-family: 'Aladin', cursive;
}

.home-content{
    margin: 50px 0px;
    text-shadow: 0 .5em 1em -.125e #ffffff;
}
.button{
    margin-top: 100px;
    border: 3px solid #a5dc0f;
    background-color: #0000009f;
    color: #ffffff;
    font-family: 'Oregano', cursive;
   
    
}
.button:hover{
    background-color:  #a5dc0f;
    color: #000000;
    border: none;
}
@media screen and (max-width: 400px){
  
    .home-card{
        width: 100%;
        margin: 20px;
        padding: 20px;
        float: none;
    }
    
}
